<!DOCTYPE html>
<html>
<head>
	<title>JustGreetings</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>

<p>
	<a href="/logout" class="keys">Logout</a>	
	<a href="/signup" id="signup">Sign Up</a>	
	<a href="/login" class="keys">Login</a>	
</p>
	
<h1>
	JustGreetings
</h1>

<p id="tagLine">
	When You are Invited, Think of Us!
</p>	