<%- include ("partials/header") %>

<link rel="stylesheet" type="text/css" href="/donePage.css">

<p id="done">
	Here You Go!! We are Done Making Your Invitation . . .
</p>

<p id="goback">
	To View the Invitation, Go to Created Cards!
</p>

<a href="/userhomepage">
	<button>
		<div class="text">
			Back to HomePage
		</div>
	</button>
</a>

<%- include ("partials/footer") %>