#done{
	font-family: Architects Daughter;
	text-align: center;
	font-size: 30px;
}

#goback{
	font-family: Architects Daughter;
	text-align: center;
	font-size:30px;
}

button{
	width: 15%;
	height: 35px;
	background-color: #4CAF50;
	border: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-bottom: 12px;
	margin-left: 42%;
}

.text{
	text-decoration: none;
	font-family: Architects Daughter;
	color: white;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

