h3{
	font-size: 30px;
	font-family: Architects Daughter;
	padding-left: 48%;
}

form{
	padding-left: 41.5%;
}

input{
	width: 30%;
	height: 30px;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
	width: 30%;
	height: 35px;
	background-color: #4CAF50;
	border: none;
    border-radius: 4px;
    cursor: pointer;
}