body{
	background: url(https://media.istockphoto.com/vectors/floral-wedding-peach-invitation-background-design-vector-id1054758260);
	background-position: center;
}

#invitation{
	width: 40%;
	height: 500px;
	margin-left: 30%;
	margin-top: 130px;
	border: 1px solid #a56b46;
	border-radius: 10px;
	font-family: Dancing Script;
}

#invitetext{
	font-size: 50px;
	text-align: center;
}

.othertexts{
	text-align: center;
	font-size: 30px;
}
